<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= Name_of_Business %> - <%= Tagline %>
    </title>
    <link rel="stylesheet" href="/themes/theme4/style.css">
</head>

<body>
    <div class="nav">
        <ul class="na">
            <li><a href=""></a>HOME</li>
            <li><a href=""></a>ABOUT US</li>
            <li><a href=""></a>FEATURES</li>
            <img src=<%=logo %> alt="Car Wash Logo">
            <li><a href=""></a>CONTACT US</li>
            <li><a href=""></a>TENTIMONIALS</li>
            <li><a href=""></a>BOOK A CALL</li>
        </ul>
    </div>
    <p class="head">
        <%= Name_of_Business %>
    </p>
    <p class="tagline">
        <%= Tagline %>
    </p>
    <img class="mimg" src=<%=mainImage %> alt="Professional Car Wash Service">
    <p class="why">
        Why Us ?
    </p>
    <div class="us">
        <div class="img1">
            <div class="tex1 tex">Better Quality</div>
            <div class="parag1 parag">
                <%= betterQuality %>
            </div>
            <img src=<%=betterQualityImage %> alt="Premium Products">
        </div>
        <div class="img2">
            <div class="tex2 tex">Customer Support</div>
            <div class="parag2 parag">
                <%= customerSupport %>
            </div>

            <img src=<%=customerSupportImage %> alt="Dedicated Customer Support">
        </div>
        <div class="img3">
            <div class="tex3 tex">Experience</div>
            <div class="parag3 parag">
                <%= experience %>
            </div>

            <img src=<%=experienceImage %> alt="Experience">
        </div>
    </div>
    <div class="abo">
        <p class="about">
            About Us
        </p>
        <div class="aboutText">
            <p>
                Welcome to <strong>
                    <%= Name_of_Business %>
                </strong>, your go-to destination for <strong>
                    <%= product %>
                </strong> in <strong>
                    <%= city %>.
                </strong>
            </p>
            <p>
                As a proud member of the local community, we've been dedicated to providing exceptional
                <strong>
                    <%= product %>
                </strong> to our customers since <%= establishedYear %>. Our mission is
                    simple: to deliver high-quality <strong>
                        <%= product %>
                    </strong> with a personal touch,
                    ensuring that each of our customers feels valued and satisfied.
            </p>
        </div>
        <div class="aboutimg">
            <img src=<%=mainImage %> alt="Car Wash Facility">
        </div>
        <div class="companyText">
            <p>
                At <%= Name_of_Business %>, we believe in the power of community and strive to make a positive impact
                    through our work.our team of skilled and passionate professionals is commited to excellence in
                    everything we do, from <%= product %> to <%= additionalProduct %>. We take pride in our attention to
                            detail and our ability to tailor our services to meet the unique needs of each customer.
            </p>
            <p>
                Whether you're looking for <%= product %> or need assistance with <%= additionalProduct %>, you can
                        count on us for reliable,friendly and expert service. We're not just here to meet your needs -
                        we're here to exceed your expectations.
            </p>
            <p>
                <strong>Thank you for choosing <%= Name_of_Business %>. We're excited to serve you and be a part of your
                        journey!</strong>
            </p>
        </div>
    </div>
    <div>
        <p class="tent">TESTIMONIALS</p>
        <div class="t1">
            <p class="name">
                <%= testimonial1 %>
                    <br>
                    <strong>
                        - <%= Name1 %>
                    </strong>
            </p>
        </div>
        <div class="t2">
            <p class="name">
                <%= testimonial2 %>
                    <br>
                    <strong>
                        - <%= Name2 %>
                    </strong>
            </p>
        </div>
        <div class="t3">
            <p class="name">
                <%= testimonial3 %>
                    <br>
                    <strong>
                        - <%= Name3 %>
                    </strong>
            </p>
        </div>
    </div>
    <div class="foo">
        <div class="logoo">
            <img src=<%=logo %> alt="Car Wash Logo">
        </div>
        <div class="f1">
            <ul>
                <li class="fo1">Get Started</li>
                <li>Home</li>
                <li>Sign up</li>
                <li>Testimonials</li>
            </ul>
        </div>
        <div class="f2">
            <ul>
                <li class="fo1">About Us</li>
                <li>Company information</li>
                <li>Contact Us</li>
                <li>Reviews</li>
            </ul>
        </div>
        <div class="f3">
            <ul>
                <li class="fo1">Support</li>
                <li>FAQ</li>
                <li>Help Desk</li>
                <li>Forems</li>
            </ul>
        </div>
    </div>
</body>

</html>