<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=<%=logo %> type="image/x-icon">
    <title>
        <%= Name_of_Business %> - <%= Tagline %>
    </title>
    <link rel="stylesheet" href="/themes/theme1/style.css">
</head>

<body>
    <main>
        <div class="navbarWrap">
            <navbar>
                <ul id="navbarMenu">
                    <li><a id="navlink" href="#home">Home</a></li>
                    <li><a id="navlink" href="#aboutUs">About Us</a></li>
                    <li><a id="navlink" href="#features">Features</a></li>
                    <li><a href=""><img src=<%=logo %> alt="Logo"></a></li>
                    <li><a id="navlink" href="#contant">Contact</a></li>
                    <li><a id="navlink" href="#testimonials">Testimonials</a></li>
                    <li><a href="">Book a call</a></li>
                </ul>
            </navbar>
        </div>
        <div class="nameAndTagline" id="home">
            <h1>
                <%= Name_of_Business %>
            </h1>
            <h5>
                <%= Tagline %>
            </h5>
        </div>
        <div class="blocks" id="features">
            <h1>Why Us?</h1>
            <div class="firstBlock">
                <div class="firstBlockLeft">
                    <h2>Better Quality</h2>
                    <p>
                        <%= betterQuality %>
                    </p>
                </div>
                <div class="firstBlockRight">
                    <img src=<%=betterQualityImage %> alt="Better Quality">
                </div>
            </div>
            <div class="secondBlock">
                <div class="secondBlockLeft">
                    <img src=<%=customerSupportImage %> alt="Customer Support">
                </div>
                <div class="secondBlockRight">
                    <h2>Customer Support</h2>
                    <p>
                        <%= customerSupport %>
                    </p>
                    <button>
                        <a href=''>BOOK A CALL</a>
                    </button>
                </div>
            </div>
            <div class="thirdBlock">
                <div class="thirdBlockLeft">
                    <h2>Experience</h2>
                    <p>
                        <%= experience %>
                    </p>
                </div>
                <div class="thirdBlockRight">
                    <img src=<%=experienceImage %> alt="Experience">
                </div>
            </div>
        </div>
        <div class="about" id="aboutUs">
            <h1>About Us</h1>
            <div class="aboutWrap">
                <div class="aboutText">
                    <p>
                        Welcome to <strong>
                            <%= Name_of_Business %>
                        </strong>, your go-to destination for <strong>
                            <%= product %>
                        </strong> in <strong>
                            <%= city %>.
                        </strong>
                    </p>
                    <p>
                        As a proud member of the local community, we've been dedicated to providing exceptional
                        <strong>
                            <%= product %>
                        </strong> to our customers since <%= establishedYear %>. Our mission is
                            simple: to deliver high-quality <strong>
                                <%= product %>
                            </strong> with a personal touch,
                            ensuring that each of our customers feels valued and satisfied.
                    </p>
                </div>
                <div class="aboutImage"></div>
            </div>
        </div>
        <div class="companyText">
            <p>At <%= Name_of_Business %>, we believe in the power of community and strive to make a positive impact
                    through our
                    work.our team of skilled and passionate professionals is commited to excellence in everything we do,
                    from <%= product %> to
                        <!-- additionalProduct  -->
                        .We take pride in our attention to detail and
                        our ability to tailor our services to meet the unique needs of each customer.</p>
            <p>Whether you're looking for <%= product %> or need assistance with
                    <!-- additionalProduct, -->
                    you can count on us for reliable,friendly and expert service. We're not just here to meet your
                    needs -
                    we're here to exceed your expectations.</p>
            <p><strong>Thank you for choosing <%= Name_of_Business %>. We're excited to serve you and be a part of your
                        journey!</strong></p>
        </div>

        <div class="testimonials" id="testimonials">
            <div class="testimonialsBanner">
                <p>Testimonials</p>
            </div>
            <div class="testimonialsContent">
                <div class="slider">
                    <div class="testimonialsCard">
                        <p>
                            <%= testimonial1 %>
                        </p>
                        <p>
                            ~ <%= Name1 %>
                        </p>
                    </div>
                    <div class="testimonialsCard">
                        <p>
                            <%= testimonial2 %>
                        </p>
                        <p>
                            ~ <%= Name2 %>
                        </p>
                    </div>
                    <div class="testimonialsCard">
                        <p>
                            <%= testimonial3 %>
                        </p>
                        <p>
                            ~ <%= Name3 %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="logo">
            <img src=<%=logo %> alt="Business Logo">
        </div>
        <div class="details" id="contant">
            <span>
                <p>Address</p>
                <p>
                    <%= address %>
                </p>
            </span>
            <span>
                <p>Phone</p>
                <p>
                    <%= phone %>
                </p>
            </span>
            <span>
                <p>Email</p>
                <p>
                    <%= businessEmail %>
                </p>
            </span>
            <span>
                <p>BOOK A CALL</p>
                <a href=''><img src="https://cdn3.iconfinder.com/data/icons/business-913/24/copyright-512.png"
                        alt="Book A Call"></a>
            </span>
        </div>
        <div class="socialHandles">
            <p>Social Handles</p>
            <div class="socialHandleWrap">
                <a href=<%=instagramLink %>><img src='/themes/Assets/instagram.svg' alt="Instagram"></a>
                <a href=<%=facebookLink %>><img src='/themes/Assets/facebook.svg' alt="Facebook"></a>
                <a href=<%=yelpLink %>><img src='/themes/Assets/yelp.svg' alt="Yelp"></a>
                <a href=<%=tiktokLink %>><img src='/themes/Assets/tiktok.svg' alt="Tiktok"></a>
                <a href=<%=xLink %>><img src='/themes/Assets/x.svg' alt="X"></a>
                <a href=<%=linkedinLink %>><img src='/themes/Assets/linkedin.svg' alt="LinkedIn"></a>
            </div>
        </div>
    </footer>
    <script src="/themes/Js/scrolling.js"></script>
</body>

</html>